

.row {

    padding-top: 50px;
}

.SOM {
    width: 200px;
    height: 200px;

}


.correct{

    padding-right: 25px;
    padding-left: 25px;
}


.incorrect {

    padding-right: 25px;
    padding-left: 25px;

}

.koala {

    height: 320.5;
}