/* Somebody pick between one of the two */
body{
    font-family: 'Dosis', sans-serif;

    font-family: 'Titillium Web', sans-serif;

}

.navbar-brand{
    font-size: 2em;
}



.authen{

    /* Makes the login screen disappear in the beginning */
    display: none;



}

.toast{
    background-color: rgb(255, 42, 42);
    max-width: 350px;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    color: white;

}

.choices{

    /* This hides the cards for the students choices UNTIL the UID matches that of a student */
    display: none;



}


/* To notify when the certain quiz/test/game is completed */
.note1{
    display: none;
}
.note2{
    display: none;
}
.note3{
    display: none;
}



#sout{
    position: absolute;
    left: 85%;
    right: 5%;
}

