
.authen{

    /* Makes the login screen disappear in the beginning */
    display: none;



}

.toast{
    background-color: rgb(255, 42, 42);
    max-width: 350px;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    color: white;

}
